{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["emotion", { "hoist": true }],
        ["module-resolver", { "alias": { "~": "./src" } }]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        ["module-resolver", { "alias": { "~": "./src" } }]
      ]
    }
  }
}
